* {
    font-family: "Noto Sans";
    font-size: 14px;
}

#window {
	background-color: #121212;
	color: --wofi-color2;
	border: 2px solid #404373;
	box-shadow: 0px 0px 10px #404373;
	border-radius: 5px;
}

#outer-box {
	padding: 20px;
	border: 2px solid #404373;
	border-radius: 5px;
	
}

#input {
	background-color: #121212;
	padding: 8px 12px;
	border: 0px
}

#input:focus{
	all: unset;
}



#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {

}

#img:selected {
	padding-right: 8px;
	background:  #4F2A40;
}

#text {
	color: --wofi-color2;
}

#text:selected {
	color: white;
	background:  #4F2A40
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: #4F2A40;
	color: white;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
